<div class="submission-result">
    Your income is...
    <h1 class="classified">
        <%= @submission.classified_as %>
        <small>(USD)</small>
    </h1>
    <% if @submission.was_correct.blank? %>
        Is this correct?
        <%= form_with(model: @submission, local: true, url: was_correct_submission_path(@submission)) do |form| %>
            <%= form.hidden_field :was_correct, value: "true" %>
            <%= form.submit "Yes" %>
        <% end %>
        /
        <%= form_with(model: @submission, local: true, url: was_correct_submission_path(@submission)) do |form| %>
            <%= form.hidden_field :was_correct, value: "false" %>
            <%= form.submit "No" %>
        <% end %>
        <br/>
    <% end %>
    <small>Based on <a href="https://archive.ics.uci.edu/ml/datasets/adult">Adults income dataset</a>.</small>
</div>
