<!DOCTYPE html>
<html>
    <head>
        <title>HowMuch</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <h2>
            <%= link_to "How Much", root_path %>
            <small>- ultimate income predictor</small>
        </h2>

        <%= yield %>
    </body>
</html>
